

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.project {
    margin-bottom: 20px;
}


.project-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-description {
    flex: 3;
}

.project-gif {
    flex: 1;
}

.project-gif img {
    width: 100%;
    height: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-info a {
    text-decoration: none;
    color: #333;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}


.footer {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
